@import "tailwindcss";

:root {
  --background: #004b90;
  --bg-title: #002b5d;
  --bg-label: #00245b;
  --bg-input: #e9e9e9;
  --foreground: #e9e9e9;
  --foreground2: #eee;
  --border: #002e58;
  --background-image: url("/public/w3g_background.png");

}

body {
  background-color: var(--background) ;
  color: var(--foreground);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

label {
  color: var(--bg-label);
}

input {
  text-align: start;
  vertical-align: middle;
  padding: 6px;
  color: var(--bg-label);
  width: 100%;
}

.dependente {
  input {
    color: #fff;
  }
}

select {
  text-align: start;
  vertical-align: middle;
  padding: 8px;
  color: var(--bg-label);
  width: 100%;
}

.campo {
  width: 100%;
  height: calc(var(--spacing) * 20);
}

.button {
  background-color:var(--background);
  color: #fff;
  }

.button:hover {
  background-color: var(--background);
  color: #fff;
}
.title {
  background-color: var(--border);
  color: #fff
}

@media (min-width: 768px) {
  #beneficiario {
    grid-template-columns: 1fr 1fr; /* 2 colunas a partir de 768px */
  }
}

